/* content */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-1 .amazingcarousel-image {	
	position: relative;
	background-color: #fff;margin-bottom: 10px;

}

#amazingcarousel-1 .amazingcarousel-image img {
	display: block;
	width: 100%;
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

#amazingcarousel-1 .amazingcarousel-text {
	padding-right: 64px;margin-top: -2px;
}
.amazingcarousel-prev,.amazingcarousel-next{top: 270px}
.amazingcarousel-text h3{padding-left: 11px}
#amazingcarousel-1 .amazingcarousel-title {
	position:relative;
	font: bold 14px 'Open Sans', sans-serif;
	color:#333333;
	margin:6px;
	text-align:left;
	line-height: 16px;
	height: 16px;
	overflow: hidden;
}
.amazingcarousel-text h3{text-align: left}

#amazingcarousel-1 .amazingcarousel-description {
	position:relative;
	color:#2A2A2A;height: 106px;
	margin:6px;
	text-align:justify;
	line-height: 16px;
padding: 4px;
	overflow: hidden;overflow: hidden;
}

/* carousel */

#amazingcarousel-container-1 {
	padding: 32px 12px; 
}


/* item */

#amazingcarousel-1 .amazingcarousel-item-container {
	text-align: center;
	padding: 0px;
}

/* arrows */

#amazingcarousel-1 .amazingcarousel-prev {
	right: 0%;
	top: 100%;
	margin-right: 32px;
	margin-top: -188px;
}

#amazingcarousel-1 .amazingcarousel-next {
	right: 0%;
	top: 100%;
	margin-right: 0px;
	margin-top: -188px;
}

/* navigation bullets */

#amazingcarousel-1 .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

#amazingcarousel-1 .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}

