/*
Theme Name: DCSELab Phong thi nghiem quoc gia
Author: HongDiep
Version:1.0
URL: DCSELab
Text domain: DCSELab
Dated: 31/7/2014 (dd/mm/yyyy)
*/
body{ color: #2A2A2A;font-family: Arial, sans-serif;font-size: 12px;background: url("images/background.png") repeat-x scroll 0 0 #CEEDFF;
/*background-position:3%*/
    }
@font-face {
    font-family:'segoe';
    src: url('fonts/segoe.ttf') format('truetype');
}
@font-face {
    font-family:'OpenSans-Light';
    src: url("fonts/OpenSans-CondLight.ttf") format('truetype'),
    url("fonts/opensans-light-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
#page{margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 100%;}
.wpcf7-submit{cursor: pointer;}
a{color: #808080}
*{padding: 0;margin: 0}
a{text-decoration: none}
#back_top {background:url("images/to-top.png") no-repeat;
    bottom: 10px;cursor: pointer;display: none;height: 44px;position: fixed;right: 20px;width: 54px;}
#back_top:hover{background: url("images/to-yellow.png") no-repeat; bottom: 10px;cursor: pointer;display: none;height: 44px;position: fixed;right: 20px;width: 54px;}
ul{display: inline;list-style: none}

    /**header and footer round=> width:100%**/
.site-header,.site-footer{height: 10%;overflow: hidden;float: left;margin: 0 auto;width: 100%}
/**content and header main into =>width:75.5% ~~ 940px **/
.header-main{margin: 0 auto;overflow: hidden;width: 940px;
    /*width: 69.5%;*/
}
.round-header-logo-text{width: 100%;margin-top: 14px}
.primary-navigation{width:100%;margin-top: 18px;padding-bottom: 10px}
.main-content{margin: 0 auto;
width: 940px;
    /*width: 69.5%;*/
}
.site-info{margin: 0 auto;margin-top: 10px;
width: 940px;
    /*width:69.5%;*/
}
.slide-banner{background: #cfd1c7;height: 30%;width: 100%;margin: 0 auto}
.round-header-logo-text{float: left;overflow: hidden}
.logo{float: left;
max-width: 83px;}

.text-logo{

    float: left;max-width: 52%;margin-top: 12px;
}
.primary-navigation{float: left}
@media only screen and (min-width:150px) and (max-width: 950px)
{
    .page{
        width: 90%;
        font-size: 95%;
    }
}
/*.bg-banners{background: url("images/bannders.png") no-repeat center;background-size: 100%;}*/
.qtrans_language_chooser{margin: 0 auto;width: 100%;text-align: center}
.languages{width: 100%;text-align: center;margin-top: 10px}
.qtrans_language_chooser,.qtrans_language_chooser li,.languages{float: left}
.qtrans_language_chooser .lang-vi{margin:0px 12px 0px 3px}
@media screen and (max-width: 320px) {
    .logo img{
        width:43px;
        height: 43px;
        float: left;overflow: hidden;
    }
    .logo-bk img{
        width: 43px;
        height: 43px;float: right;
    }
    .logo-language{width: 45px}
    .text-logo{display: none}
}
@media only screen and (min-width: 769px) {
    .logo-language{width: 85px;float: right}
    .logo img{
        width: 75px;
        height: 75px;
        float: left;
        margin-left: 20px;
    }
    .logo-bk img{width: 77px;height: 78px;float: left;}
    .text-logo{margin-left: 50px}
}
.home-page{float: left;max-width: 28px;padding: 0px 11px 0px 10px; }
.nav-menu{width: 95%;float: left;
    /*background: url("images/menu_center.png");*/
    height: 48px
    }
.about-us,.cgcn-dv,.external-relations,.find-us-facebook,.education,.news{background: #FFFFFF}
/***menu primary**/
.cgcn-dv,.about-us,.wpcf7-form input,.wpcf7-form textarea{border-radius: 4px;}
.primary-navigation ul li:hover{background: #b8edff}
.primary-navigation ul li{border-right: 2px solid #cfd1c7;text-transform: uppercase;font-size: 15px;margin: 0px;}
.primary-navigation ul li.last{border-right: 0px;}
.primary-navigation ul li.first{border-left: 2px solid #cfd1c7}
.primary-navigation ul li a{color: #6476ff}
.primary-navigation ul li.current-menu-item{background: #b8edff;}
.primary-navigation ul li.current-menu-item a{color: #000000}
.primary-navigation ul li.current-menu-parent{background: #b8edff}
.primary-navigation ul li.current-post-ancestor .sub-menu li.current-menu-item{background: #eef9ff}
.nav-menu .menu-item {display: inline-block;float: left;}
.nav-menu li ul { display: none;padding-bottom: 14px;z-index: 700}
.nav-menu li:hover ul{display: block;position: absolute;}
.nav-menu li ul {width:240px;margin-left: -1px}
.nav-menu li ul.sub-menu li ul{overflow:hidden;display: none;position: absolute;background: #b8edff;width: 200px;margin-left: 239px;
    margin-top: -30px;padding-bottom: 10px}
/*.nav-menu li .sub-menu li:hover .sub-menu{display: block;float: left;position: absolute;border: 1px solid red;overflow: hidden}*/
.nav-menu li:hover ul {background: #b8edff;border-top: 0px;border-left: 1px solid #cfd1c7;
    border-right: 1px solid #cfd1c7;border-bottom: 1px solid #cfd1c7;display: block;float: left;position: absolute;}
.primary-navigation ul li ul li{padding: 0px}
.nav-menu .menu-item ul .menu-item {display: block;width: 100%;}
.nav-menu ul.sub-menu li a:first-letter{text-transform: capitalize}
.nav-menu ul.sub-menu li a{text-transform: lowercase;font-size: 14px;color: #000}
.nav-menu ul.sub-menu li:hover{background: #dff6fe}
.nav-menu .menu-item a {color: #0e25ed;display: block;line-height: 1;text-decoration: none;padding: 8px 12px;font-size: 16px}
.nav-menu li ul.sub-menu li:hover ul{display: block;position: absolute;z-index: 800}
/**menu bottom**/
.primary-navigation #menu-menu-bottom .sub-menu{display: none}
/**end menu**/
.wrapper{width: 100%;float: left;margin-top: 20px}
.column1,.column2,.column3{overflow: hidden}
.column1{width: 461px;float: left}
.column2{width: 220px;float: left;margin-left:15px}
.column3{float: right;width: 220px}
.about-us{float: left;width: 433px;padding: 12px;
 border-top: 5px solid #1195dd;border-bottom: 2px solid #dfdfdf;border-left: 2px solid #dfdfdf;
    border-right: 2px solid #dfdfdf;}
.h3{color: #0e25ed;font-size: 16px;text-transform: uppercase;font-weight: normal}
.about-us .h3{margin-bottom: 14px;}
.about-us .attachment-post-thumbnail{padding: 4px;border: 1px solid #cfd1c7;width: 117px;margin-top: 5px;height: 116px;margin-right: 14px}
.about-us .contents{width: 280px;float: right;text-align: justify;margin-right: 8px}
.cgcn-dv{float: left;overflow: hidden;border: 2px solid #cfd1c7;margin-top: 13px;margin-bottom: 13px}
.external-relations .title{background: url("images/qhdn.png") no-repeat;height: 41px;}
.external-relations .attachment-post-thumbnail,.education .attachment-post-thumbnail{width: 188px;height: 110px}
.external-relations ul li{margin: 0 auto;text-align: justify;float: left;overflow: hidden;width: 100%}
.external-relations ul li.odd{padding-top: 12px;margin-top: 10px;border-top: 1px solid #CFCFCF}
.education .content ul li.odd {margin-top: 10px;float: left;border-top: 1px solid #CFCFCF;padding-top: 12px}
.external-relations .content,.education .content{border: 2px solid #dfdfdf;padding: 10px 15px;overflow: hidden;height: 454px;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px}
.external-relations .content h4,.education .content h4{padding: 5px 0px 5px;font-size: 13px;}
.investigate{height:232px}
.find-us-facebook{margin-top: 13px}
.science{ float: left;overflow: hidden; margin-top: 10px}
.news ul li{width: 100%;float: left}
.science a{float: left}
.science .content{text-align: justify;height: 234px}
.education .title{background: url("images/edu.png") no-repeat;height: 41px}
.news{overflow: hidden;margin-top: 13px}
.news .title{background: url("images/new.png") no-repeat;height: 39px;}
.news .content .attachment-post-thumbnail{
    border: 1px solid #dfdfdf;width: 64px;height: 63px;float: left}
.news .content{float: left;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;border: 2px solid #dfdfdf;
    overflow: hidden;height: 533px;padding: 4px}
.news2 .content{height: 299px}
.news .details{overflow: hidden;padding: 0 4px 0 8px;text-align: justify;}
.news ul li h4{padding: 2px 0px}
.news .content li.item-2{ border-bottom: 1px solid #CFCFCF;border-top: 1px solid #CFCFCF;margin: 7px 0;
    padding-bottom: 7px;padding-top: 5px;}
/***top footer**/
.top-footers{float: left;overflow: hidden;margin: 40px 0px 40px 0px}
.top-footers .vision,.top-footers .center-values{
    float: left;width: 272px;margin:0px 38px 0 0;padding: 0px 14 0 0}
.top-footers .contact{float: right;width: 318px}
.top-footers img{float: left;padding: 0 12px 0 0;width: 57px;}
.top-footers .content{padding: 0 5px 0 12px;text-align: left;}
.top-footers .h3{margin-bottom: 10px}
.partners{overflow: hidden;margin: 0 auto;padding-top:16px;
width: 940px;
    /*width: 69.5%;*/
}
.contents a{color:#2A2A2A }
.site-footer .site-navigation{margin: 0 auto;float: none;overflow: hidden;
width: 940px;
    /*width: 69.5%;*/
}
.site-footer .primary-navigation ul li{border: 0px;padding: 5px 14px;display: inline}
.site-footer .primary-navigation ul li a{}
.site-footer .primary-navigation .home-page{margin-top: 10px}
.menu-menu-bottom-container{border-top:1px solid #CFCFCF;border-bottom: 1px solid #cfd1c7;padding: 15px 0px}
.site-bottom{width: 100%;overflow: hidden;background: url("images/bd_footer.png") repeat-x scroll  bottom;height: 193px}
.site-bottom .address{float: left;width: 68%;padding: 14px}
.site-bottom .social{float: right;text-align: center}
.ctsocial{margin: 0 auto;text-align: center}
.widgettitle{font-size: 16px;font-weight: normal}

/*** contact us page**/
.content-page{ border: 2px solid #dfdfdf;float: left;width: 75%;min-height: 609px;
    border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;
    background: #fff;}
.page-contact-us{margin: 0 auto;
width: 940px;
    /*width: 69.5%*/
}
.site-main{margin-bottom: 20px}
.page-contact-us .education{float: right;width: 23.5%}
.wpcf7 .wpcf7-form p{padding: 9px 10px 2px 47px;font-size: 14px}
.wpcf7 .wpcf7-form p input,.wpcf7 .wpcf7-form textarea{padding: 7px;width: 394px;border: 3px solid #a4e4ff;
color: #808080;font-size: 14px}
.wpcf7 .wpcf7-form p .wpcf7-submit{ width: 120px;background: #A4E4FF;color: #008800;padding: 16px 18px;font-size: 20px;}
.page-contact-us .content-page .title{padding: 43px;font-size: 15px}
textarea{font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;height: 100px}
.content-page .contents{font-size: 13px;padding: 20px}
.content-page .single{min-height: 797px;height: auto}
.page-contact-us .news{float: right; width: 220px; margin-top: 0px;}
.left-column{float: right;width: 220px;}
.infor{margin: 10px 0px 10px 0px}
.relatived-post ul li{float: left;width: 100%;list-style: circle inside;color: #1195DD; padding: 3px}
.relatived-post ul li:hover{font-style: italic;}
.relatived-post ul li a:hover{color: #1195dd}
.relatived-post{margin: 20px 0px 20px 0px;overflow: hidden;border-top: 1px solid #cfd1c7;padding: 4px}
.titles{background: url("images/video.png") no-repeat;height: 41px}
.external-relations .h3-font{color: #FFFFFF;padding: 8px 10px 0px 40px;font-size: 18px;}
/**video**/
.videos{float: left}
.videos .titles{float: left;width: 100%}
.videos{margin: 20px 0px 20px 0px}
.videos ul li iframe{ height: 150px;width: 100%;}
.videos .content{height: 406px;float: left}
.categories .category h3{padding: 16px}
.category .categories ul{overflow: hidden;float: left}
.categories ul li.category-item{float: left;width: 93%;margin: 0 0 10px 20px;border-bottom: 1px dotted #1195dd;padding-bottom: 14px}
.categories ul li.category-item .attachment-thumbnail{height: 100px;width: 110px;border-radius: 4px;float: left}
.categories ul li.category-item .clearfix{padding: 4px 0px 0px 18px ;overflow: hidden}
.categories ul li.category-item .h4{font-size: 14px}
.post-info{font-size: 11px;padding: 3px 0;}
.category .categories .category h3,.category .categories .category h3 a{color: #1195dd}
.categories ul li.category-item h4 a:hover{color: #1195dd}
.category .left-column .videos{margin: 0px 0px 16px}
.category .left-column{background: none;}
.category .left-column .find-us-facebook{float: left;overflow: hidden;margin-top: 0px}
.show-categories{min-height: 831px;height: auto}
.h4 a:hover{color: #1195dd}
.home .about-us{padding-bottom: 17px}
.top-video h4{ margin-top: -5px;padding: 0px 2px 5px 0px;}.top-video h4 a{color:#0E25ED }
.top-video{height: 179px}
.top-video iframe{overflow: hidden;height: 170px}