/* Tiny Carousel */
#slider1 { height: 1%; margin: 18px 0 0; overflow:hidden; position: relative; }
#slider1 .viewport { height: 120px; overflow: hidden; position: relative; }
#slider1 .buttons {
    background: #C01313;
    border-radius: 35px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 35px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}
#slider1 .next {
    right: 0;
    left: auto;
    top: 50%;
}
#slider1 .viewport img{height: 70px;width: 100%}
#slider1 .buttons:hover{
    color: #C01313;
    background: #fff;
}
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0; top: 0; }
#slider1 .overview li{border: 1px solid #DCDCDC;
    float: left;
    height: 70px;
    margin: 0 9px 0 0;
    width: 200px;}
.viewport .atl{ max-width: 162px;
    position: absolute;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    top: 96px;
width: 162px;text-align: center;height: 44px;
    color: #FFFFFF;}

/******/
#slider2 { height: 1%; overflow:hidden;  }
#slider2 .viewport { float: left; width: 220px; height: 504px; overflow: hidden; position: relative; }
#slider2 .buttons {
    background: #C01313;
    border-radius: 35px;
    display: block;
    margin: 30px 10px 0 0;
    float: left;
    width: 35px;
    height: 35px;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}
#slider2 .next {
    margin: 30px 0 0 10px;
}
#slider2.buttons:hover{
    color: #C01313;
    background: #fff;
}
#slider2 .disable { visibility: hidden; }
#slider2 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0; top: 0; }
#slider2 .overview li{ float: left; margin: 5px 0px 0 4px; padding: 4px;  border-bottom: 2px dotted #5691E6; width: 210px;}
